@import "./map.css";
body {
  display: flex;
  justify-content: center;
  margin: 0;
}
p {
  width: fit-content;
  max-width: 80%;
  padding: 0.5rem;
  text-align: left;
  margin: 100vh auto 100vh auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: clamp(1.2rem 2vw 3rem);
}
.no_bg {
  background-color: black;
  color: white;
  padding: 2rem 1rem 1rem 1rem;
}
.no_bg p {
  margin: auto;
  background: none;
  width: auto;
  a {
    color: lightblue;
  }
}
.no_bg h2,
.no_bg h3 {
  text-align: center;
}
figure {
  text-align: center;
  margin: 0 auto;
}
img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: inline-block;
}
