button {
  background-color: rgb(192, 42, 4);
  color: white;
  padding: 0.5rem;
  border-radius: 7px;
  border: solid 1px black;
  font-weight: bolder;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
    background-color: rgb(150, 0, 0);
  }
}
